<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<!--====== Required meta tags ======-->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--====== Title ======-->
<title>Ritco - Contact</title>
<link rel="stylesheet" href="/assets/images/favicon.png"
	type="image/png" />
 <link rel="stylesheet" type="text/css" 
	th:href="@{/assets/css/bootstrap.min.css}" />  
<link rel="stylesheet" type="text/css"
	href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/LineIcons.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/magnific-popup.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/nice-select.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/jquery.timepicker.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/slick.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
<!-- <link rel="stylesheet" type="text/css" href="/assets/css/style.css"  > -->
<!-- for data tables -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/dataTables.bootstrap4.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/responsive.bootstrap4.min.css}">
<!-- <link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/datatable.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/responsive.bootstrap4.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables//bootstrap4.min.css}">

-->

</head>

<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/v4-shims.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome.min.css}" /> -->

	  
<!-- 	<script>
	 $(document).ready(
			   function(){
			    $("#destinationid").on('change',function(){
			     var destinationidis=$(this).val();
			       alert(destinationidis);
			   /*    $ajax({
			    	 type: 'GET',
			    	 url:'${pageContext.request.contexpath}/'+destinationidis+'.html',
			    	 success: function(result){
			    		 var result = JSON.parse(result);
			    		 var s = '';
			    		 for (var i=0;i<result.length;i++){
			    			 s+='<option value="' +result[i].idnum+ '">' + result[i].userfirstname+'</option>'; 
			    		 }
			    		 $("#userid").html(s);
			    	 }
			      })
			    }) */
			   }
			 )
	</script> -->

<body>

	<!--====== PRELOADER PART START ======-->
<div th:flament="adminportal">
	<div class="preloader">
		<div class="loader">
			<div class="ytp-spinner">
				<div class="ytp-spinner-container">
					<div class="ytp-spinner-rotator">
						<div class="ytp-spinner-left">
							<div class="ytp-spinner-circle"></div>
						</div>
						<div class="ytp-spinner-right">
							<div class="ytp-spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<section class="page-banner bg_cover" data-overlay="5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="page-content text-center">
						<h2 class="page-title">Admin portal</h2>

					</div>
					<!-- page content -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== PAGE BANNER PART ENDS ======-->

	<!--====== CONTACT PART START ======-->
</div>
     
	<section class="">
		<div class="" style="padding:5px;">
			<div class="row">
               
				<div class="col-lg-3 mt-50" style="padding-top:70px !important;">
					<div class="list-group">
						<button type="button"
							class="list-group-item list-group-item-action active">
							Portal Actions</button>
							<button type="button"
							class="list-group-item list-group-item-action">View all users</button>
						<a th:href="@{/departure}"><button type="button"
							class="list-group-item list-group-item-action">
							register Departure</button></a>
						
						<a th:href="@{/departuretime}"><button type="button"
							class="list-group-item list-group-item-action">
							register Departure hours & Seats</button></a>
						<button type="button"
							class="list-group-item list-group-item-action" disabled>Vestibulum
							at eros</button>
					</div>
					<!-- contact-info -->
				</div>
				
				<div class="col-lg-8 mt-50" >
					<!--  id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100 -->
<!-- 					<div class="table-responsive">
						<span th:text="${msg}"></span>
						<table id="example"
							class="table table-striped table-bordered dt-responsive"
							style="width: 100%;">
							<thead>
								<th>joining Date</th>
								<th>Full Names</th>
								<th>Brach</th>
								<th>Role</th>
								<th>Action</th>
							</thead>
							<tbody>
						
								<tr th:each="object : ${viewalluser}">
									<td th:text="${#dates.format(object.registrationdate, 'MM-yyyy-dd')}"></td>
									<td><span  th:text="${object.userfirstname}"></span>&nbsp&nbsp<span  th:text="${object.userlastname}"></span></td>
									<td th:text="${object.departure}"></td>
									<td>comming soon</td>
									<td th:text="${object.roles}"></td>
									<td>&nbsp;<a
						th:href="@{/client/deleteclient}+${'?myid='+object.idnum}"><button
								class="btn btn-danger">delete</button></a> <a
						th:href="@{/client/updateclient}+${'?stid='+object.idnum}"><button
								class="btn btn-primary">update</button></a>

					</td>
									<td>&nbsp;
										<button class="btn btn-danger">delete</button>
										<button class="btn btn-primary">update</button>
										<button type="button" class="btn btn-warning">block</button>

									</td>
								</tr>
							</tbody>
						</table>
					</div> -->

				</div>
				
				
			</div>
			<!-- row -->

		</div>
		<!-- container -->
	</section>

	<!--====== CONTACT PART ENDS ======-->

	<!--====== CALL TO ACTION PART START ======-->



	<!--====== CALL TO ACTION PART ENDS ======-->

	<!--====== FOOTER PART START ======-->

	<footer class="">



		<div class="">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright-content text-center">
							<p class="text">
								&copy; 2021 Copyright Ritco. <a href="https://graygrids.com"
									rel="nofollow">Designed by Scovia Kayesu</a>
							</p>
						</div>
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- copyright -->
	</footer>

	<!--====== FOOTER PART ENDS ======-->

	<!--====== BACK TO TOP PART START ======-->

	<a href="#" class="back-to-top"><i class="flaticon-next"></i><span>Back
			To Top</span></a>

	<!--====== BACK TO TOP PART ENDS ======-->

	<!--====== PART START ======-->

	<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

	<!--====== PART ENDS ======-->


	<!-- row -->








	<!--====== jquery js ======-->
	<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

	<!--====== Bootstrap js ======-->
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>

	<!--====== Slick js ======-->
	<script src="/assets/js/slick.min.js"></script>

	<!--====== Magnific Popup js ======-->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>

	<!--====== WOW js ======-->
	<script src="/assets/js/wow.min.js"></script>

	<!--====== Gijgo js ======-->
	<script src="/assets/js/gijgo.min.js"></script>

	<!--====== Nice Select js ======-->
	<script src="/assets/js/jquery.nice-select.min.js"></script>

	<!--====== Counter Up js ======-->
	<script src="/assets/js/waypoints.min.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>

	<!--====== Time Picker js ======-->
	<script src="/assets/js/jquery.timepicker.min.js"></script>

	<!--====== Validator js ======-->
	<script src="/assets/js/validator.min.js"></script>

	<!--====== Ajax Contact js ======-->
	<script src="/assets/js/ajax-contact.js"></script>

	<!--====== Main js ======-->
	<script src="/assets/js/main.js"></script>
	<!-- 	<script type="text/javascript"
	th:src="@{/assets/css/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/css/datatables/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/css/datatables/dataTables.responsive.min.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/css/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/assets/css/datatables/responsive.bootstrap4.min.js}"></script>  -->
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
	<!-- 	<script type="text/javascript">
		window.onscroll = function() {
			myFunction()
		};

		//Get the navbar
		var navbar = document.getElementById("navbar");

		//Get the offset position of the navbar
		var sticky = navbar.offsetTop;

		//Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
		function myFunction() {
			if (window.pageYOffset >= sticky) {
				navbar.classList.add("sticky")
			} else {
				navbar.classList.remove("sticky");
			}
		}
	</script> -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#example').DataTable();
		});
	</script>
</body>

</html>
