<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Ritco System Admin - Dashboard</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/dataTables.bootstrap4.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/responsive.bootstrap4.min.css}">
<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/administrationStyles/css/sb-admin-2.min.css"
	rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				href="index.html">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">Ritco Sytem Admin</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">



			<!-- Divider -->
			<hr class="sidebar-divider">

			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<!-- Nav Item - Charts -->
				<li class="nav-item"><a class="nav-link" th:href="@{/admin}">
						<i class="fas fa-fw fa-chart-area"></i> <span>View All
							Users</span>
				</a></li>
				 <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/normaluser}">
						<i class="fas fa-fw fa-chart-area"></i> <span>View Booked Seats</span>
				</a></li>

				<!-- Nav Item - Tables -->
				<!-- <li class="nav-item"><a class="nav-link" href="tables.html">
					<i class="fas fa-fw fa-table"></i> <span>Tables</span>
			</a></li> -->
				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item"><a class="nav-link collapsed" href="#"
					data-toggle="collapse" data-target="#collapseTwo"
					aria-expanded="true" aria-controls="collapseTwo"> <i
						class="fas fa-fw fa-cog"></i> <span>Manage Departure</span>
				</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
						data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Departure actions</h6>
							<a class="collapse-item" th:href="@{/departure}">Register
								departure</a> <a class="collapse-item" th:href="@{/departureview}">View
								Departure</a>
						</div>
					</div></li>
			</div>
			<!-- Nav Item - Utilities Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseUtilities"
				aria-expanded="true" aria-controls="collapseUtilities"> <i
					class="fas fa-fw fa-wrench"></i> <span>Manage Departure hours</span>
			</a>
				<div id="collapseUtilities" class="collapse"
					aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">hours Managment</h6>
						<a class="collapse-item" th:href="@{/departuretime}">register
							depart hours</a> <a class="collapse-item"
							th:href="@{/departuretimeview}">View depart hours</a>
					</div>
				</div></li>

			<!-- Divider -->
			<hr class="sidebar-divider">



			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapsePages"
				aria-expanded="true" aria-controls="collapsePages"> <i
					class="fas fa-fw fa-folder"></i> <span>Pages</span>
			</a>
				<div id="collapsePages" class="collapse"
					aria-labelledby="headingPages" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Login Screens:</h6>
						<a class="collapse-item" href="login.html">Login</a> <a
							class="collapse-item" href="register.html">Register</a> <a
							class="collapse-item" href="forgot-password.html">Forgot
							Password</a>
						<div class="collapse-divider"></div>
						<h6 class="collapse-header">Other Pages:</h6>
						<a class="collapse-item" href="404.html">404 Page</a> <a
							class="collapse-item" href="blank.html">Blank Page</a>
					</div>
				</div></li>



			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>



		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>


					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">


						<!-- 	<form name="logoutForm" th:action="@{/logout}" method="post">
							<input  type="submit" value="Sign Out" />
						</form>
 -->


						<div class="topbar-divider d-none d-sm-block"></div>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"><span
								class="mr-2 d-none d-lg-inline text-gray-700 small">Welcome,</span>
								<span class="mr-2 d-none d-lg-inline text-gray-600 small"
								th:text="${loggedinuser}"></span> <img
								class="img-profile rounded-circle"
								src="/administrationStyles/img/undraw_profile.svg"> </a> <!-- Dropdown - User Information -->
							<div
								class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="userDropdown">

								<div class="dropdown-divider"></div>
								<form name="logoutForm" th:action="@{/logout}" method="post">
									<button type="submit" class="dropdown-item" href="#"
										data-toggle="modal" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Logout
									</button>
								</form>
							</div></li>

					</ul>

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
						<!-- <a href="#"
							class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
							class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
					</div>

					<!-- Content Row -->
					<div class="row">

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-primary text-uppercase mb-1">
												Earnings (Monthly)</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-calendar fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-success shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-success text-uppercase mb-1">
												Earnings (Annual)</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-info shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
											</div>
											<div class="row no-gutters align-items-center">
												<div class="col-auto">
													<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
												</div>
												<div class="col">
													<div class="progress progress-sm mr-2">
														<div class="progress-bar bg-info" role="progressbar"
															style="width: 50%" aria-valuenow="50" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Pending Requests Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-warning shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-warning text-uppercase mb-1">
												Pending Requests</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-comments fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Content Row -->





					<!-- Content Row -->
					<div class="row">

						<div class="col-lg-8">

							<center>
								<span th:if="${msg}" th:text="${msg}" id="msgid"
									class="alert alert-success"></span>
							</center>
							<form th:method="post" th:object="${myobj2}"
								th:action="@{/updateview}">
								<div class="form-group">
									<span class="here"
										th:if="${#fields.hasErrors('userfirstname')}"
										th:errors="*{userfirstname}">Name Error</span> <input
										placeholder="First Name" type="text" class="form-control"
										id="firstname" th:field="*{userfirstname}"> <input
										type="hidden" class="form-control" th:field="*{idnum}"
										placeholder="full names of client" />
								</div>
								<div class="form-group">
									<span class="
								here"
										th:if="${#fields.hasErrors('userlastname')}"
										th:errors="*{userlastname}">Name Error</span> <input
										type="text" placeholder="Last Name" class="form-control"
										id="lastname" th:field="*{userlastname}">
								</div>
								<div class="form-group">
									<span class="here"
										th:if="${#fields.hasErrors('contactnumber')}"
										th:errors="*{contactnumber}">Name Error</span> <input
										type="text" placeholder="phone number" maxlength="10"
										class="form-control" name="contact"
										th:field="*{contactnumber}">

								</div>
								<div class="form-group">
									<span class="here" th:if="${#fields.hasErrors('gender')}"
										th:errors="*{gender}">Name Error</span> <select
										th:field="*{gender}" class="form-control selectbox ">
										<option value="">Gender</option>
										<option value="Female">Female</option>
										<option value="Male">Male</option>
									</select>
								</div>

								<div class="form-group mailing">
									<span class="here" th:if="${#fields.hasErrors('username')}"
										th:errors="*{username}">Name Error</span> <input
										placeholder="Email" type="email" class="form-control"
										id="exampleInputEmail1" aria-describedby="emailHelp"
										th:field="*{username}"> <small id="emailHelp"
										class="form-text text-muted">We'll never share your
										email with anyone else.</small>
								</div>

								<div class="form-group  ">
									<span class="here" th:if="${#fields.hasErrors('roles')}"
										th:errors="*{roles}">Name Error</span> <select
										th:field="*{roles}" class="form-control selectbox ">
										<option value="" disabled>User type</option>
										<option value="ADMIN">ADMIN</option>
										<option value="OTHERUSER">Normal User</option>

									</select>
								</div>
								<!-- <div class="form-group" style="margin-top: 170px !important">
							<input placeholder="your password" type="password"
								class="form-control" name="Password1" id="password1">
						</div> -->

								<div class="form-group mailing">
									<span class="here" th:if="${#fields.hasErrors('passwordd')}"
										th:errors="*{passwordd}">Name Error</span> <input
										placeholder="confirm your password" type="password"
										class="form-control" name="Password2" id="password2"
										th:field="*{passwordd}">
								</div>

								<button type="submit" class="btn main-btn">Register</button>
							</form>
						</div>


					</div>


					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer class="sticky-footer bg-white">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>© 2021 Copyright Ritco. Designed by Scovia Kayesu</span>
						</div>
					</div>
				</footer>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>



		<!-- Bootstrap core JavaScript-->
		<script src="/administrationStyles/vendor/jquery/jquery.min.js"></script>
		<script
			src="/administrationStyles/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script
			src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
		<script
			src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
		<script
			src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
		<script
			src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script
			src="/administrationStyles/vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="/administrationStyles/js/sb-admin-2.min.js"></script>

		<!-- Page level plugins -->
		<script src="/administrationStyles/vendor/chart.js/Chart.min.js"></script>

		<!-- Page level custom scripts -->
		<script src="/administrationStyles/js/demo/chart-area-demo.js"></script>
		<script src="/administrationStyles/js/demo/chart-pie-demo.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#example').DataTable();
			});
		</script>
		<script>
			setTimeout(function() {
				if ($("#msgid").length > 0) {
					$("#msgid").remove();
				}
			}, 2000);
		</script>
</body>

</html>