


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<!--====== Required meta tags ======-->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--====== Title ======-->
<title>Ritco - Contact</title>
<link rel="stylesheet" href="/assets/images/favicon.png"
	type="image/png" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/LineIcons.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/magnific-popup.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/nice-select.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/jquery.timepicker.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/slick.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
<!--  <link rel="stylesheet" type="text/css" href="/assets/css/style.css"  -->
<!-- for data tables -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/dataTables.bootstrap4.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/responsive.bootstrap4.min.css}">
<!-- <link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/datatable.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/responsive.bootstrap4.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables//bootstrap4.min.css}">

-->

</head>

<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/v4-shims.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome.min.css}" /> -->



<body>

	<!--====== PRELOADER PART START ======-->

	<div class="preloader">
		<div class="loader">
			<div class="ytp-spinner">
				<div class="ytp-spinner-container">
					<div class="ytp-spinner-rotator">
						<div class="ytp-spinner-left">
							<div class="ytp-spinner-circle"></div>
						</div>
						<div class="ytp-spinner-right">
							<div class="ytp-spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<section class="page-banner bg_cover" data-overlay="5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="page-content text-center">
						<h2 class="page-title">Admin portal</h2>

					</div>
					<!-- page content -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== PAGE BANNER PART ENDS ======-->

	<!--====== CONTACT PART START ======-->

	<section class="">
		<div class="" style="padding: 5px;">
			<div class="row">

				<div class="col-lg-3 mt-50" style="padding-top: 70px !important;">
					<div class="list-group">
						<button type="button"
							class="list-group-item list-group-item-action active">
							Portal Actions</button>
						<button type="button"
							class="list-group-item list-group-item-action">View all
							users</button>
						<a th:href="@{/departure}"><button type="button"
								class="list-group-item list-group-item-action">
								register Departure</button></a> <a th:href="@{/departuretime}"><button
								type="button" class="list-group-item list-group-item-action">
								register Departure hours & Seats</button></a>
						<button type="button"
							class="list-group-item list-group-item-action" disabled>Vestibulum
							at eros</button>
					</div>
					<!-- contact-info -->
				</div>
				<div class="col-lg-8 mt-50" style="padding-right: 20px !important;">

<!-- 					<center>
						<span th:text="${msg}" class="alert alert-success"></span>
					</center>
					<form th:method="post" th:object="${depart}"
						th:action="@{/departure}">
						<div class="form-group">
							<span class="here"
								th:if="${#fields.hasErrors('destinationname')}"
								th:errors="*{destinationname}">Name Error</span> <input
								placeholder="departure name" type="text" class="form-control"
								id="firstname" th:field="*{destinationname}">
						</div>
						<div class="form-group">
							<span class="
								here"
								th:if="${#fields.hasErrors('departuredate')}"
								th:errors="*{departuredate}">Name Error</span> <input
								type="date" placeholder="yyyy-MM-dd" class="form-control"
								id="lastname" th:field="*{departuredate}">
						</div>
						<div class="form-group">
							<span class="here" th:if="${#fields.hasErrors('price')}"
								th:errors="*{price}">Name Error</span> <input type="text"
								placeholder="price of departure" maxlength="10"
								class="form-control" name="contact" th:field="*{price}">

						</div>
						<div class="form-group">

							<select id="haa" name="userid" class="form-control">

								<option value="" disabled selected>Select user in
									charge</option>
								<option th:each="type : ${allusers}" th:value="${type.idnum}"><span
										th:text="${type.userfirstname}"></span>&nbsp&nbsp<span
										th:text="${type.userlastname}"></span></option>

							</select>
											<span class="here" th:if="${#fields.hasErrors('clientsnames')}"
												th:errors="*{clientsnames}">Name Error</span>
						</div>
						<div class="form-group">
							<span class="here" th:if="${#fields.hasErrors('contactperson')}"
								th:errors="*{contactperson}">Name Error</span> <input
								type="text" placeholder="phone number" maxlength="10"
								class="form-control" name="contactperson" th:field="*{contactperson}">

						</div>
							<div class="form-group">
							<span class="here" th:if="${#fields.hasErrors('gender')}"
								th:errors="*{gender}">Name Error</span> <select
								th:field="*{gender}" class="form-control selectbox ">
								<option value="">Gender</option>
								<option value="Female">Female</option>
								<option value="Male">Male</option>
							</select>
						</div>

												<div class="form-group mailing">
							<span class="here" th:if="${#fields.hasErrors('username')}"
								th:errors="*{username}">Name Error</span> <input
								placeholder="Email" type="email" class="form-control"
								id="exampleInputEmail1" aria-describedby="emailHelp"
								th:field="*{username}"> <small id="emailHelp"
								class="form-text text-muted">We'll never share your
								email with anyone else.</small>
						</div>
						
						<div class="form-group  ">
							<span class="here" th:if="${#fields.hasErrors('roles')}"
								th:errors="*{roles}">Name Error</span> <select
								th:field="*{roles}" class="form-control selectbox ">
								<option value="" disabled>User type</option>
								<option value="ADMIN">ADMIN</option>
								<option value="OTHERUSER">Normal User</option>

							</select>
						</div>
						<div class="form-group" style="margin-top: 170px !important">
							<input placeholder="your password" type="password"
								class="form-control" name="Password1" id="password1">
						</div>

						<div class="form-group mailing" >
							<span class="here" 
								th:if="${#fields.hasErrors('passwordd')}"
								th:errors="*{passwordd}">Name Error</span> <input
								placeholder="confirm your password" type="password"
								class="form-control" name="Password2" id="password2" th:field="*{passwordd}">
						</div>

						<button type="submit" class="btn btn-primary">Create</button>
					</form> -->

				</div>


			</div>
			<!-- row -->

		</div>
		<!-- container -->
	</section>

	<!--====== CONTACT PART ENDS ======-->

	<!--====== CALL TO ACTION PART START ======-->



	<!--====== CALL TO ACTION PART ENDS ======-->

	<!--====== FOOTER PART START ======-->

	<footer class="">



		<div class="">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright-content text-center">
							<p class="text">
								&copy; 2021 Copyright Ritco. <a href="https://graygrids.com"
									rel="nofollow">Designed by Scovia Kayesu</a>
							</p>
						</div>
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- copyright -->
	</footer>

	<!--====== FOOTER PART ENDS ======-->

	<!--====== BACK TO TOP PART START ======-->

	<a href="#" class="back-to-top"><i class="flaticon-next"></i><span>Back
			To Top</span></a>

	<!--====== BACK TO TOP PART ENDS ======-->

	<!--====== PART START ======-->

	<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

	<!--====== PART ENDS ======-->


	<!-- row -->








	<!--====== jquery js ======-->
	<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

	<!--====== Bootstrap js ======-->
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>

	<!--====== Slick js ======-->
	<script src="/assets/js/slick.min.js"></script>

	<!--====== Magnific Popup js ======-->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>

	<!--====== WOW js ======-->
	<script src="/assets/js/wow.min.js"></script>

	<!--====== Gijgo js ======-->
	<script src="/assets/js/gijgo.min.js"></script>

	<!--====== Nice Select js ======-->
	<script src="/assets/js/jquery.nice-select.min.js"></script>

	<!--====== Counter Up js ======-->
	<script src="/assets/js/waypoints.min.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>

	<!--====== Time Picker js ======-->
	<script src="/assets/js/jquery.timepicker.min.js"></script>

	<!--====== Validator js ======-->
	<script src="/assets/js/validator.min.js"></script>

	<!--====== Ajax Contact js ======-->
	<script src="/assets/js/ajax-contact.js"></script>

	<!--====== Main js ======-->
	<script src="/assets/js/main.js"></script>


</body>

</html>


