<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<!--====== Required meta tags ======-->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--====== Title ======-->
<title>Ritco - Contact</title>
<link rel="stylesheet" href="/assets/images/favicon.png"
	type="image/png" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/LineIcons.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/magnific-popup.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/nice-select.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/jquery.timepicker.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/slick.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/validation/validate.css" />

</head>

<link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/v4-shims.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome.min.css}" />



<body>

	<!--====== PRELOADER PART START ======-->

	<div class="preloader">
		<div class="loader">
			<div class="ytp-spinner">
				<div class="ytp-spinner-container">
					<div class="ytp-spinner-rotator">
						<div class="ytp-spinner-left">
							<div class="ytp-spinner-circle"></div>
						</div>
						<div class="ytp-spinner-right">
							<div class="ytp-spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--====== PRELOADER PART ENDS ======-->

	<!--====== HEADER PART START ======-->

	<header class="header-area">
		<div class="header-top pb-10">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div
							class="header-top-content d-md-flex justify-content-between align-items-center">
							<div class="header-info pt-10 d-none d-md-block">
								<ul>
									<li><i class="lni-envelope"></i> info@contact.com</li>
									<li><i class="lni-mobile"></i> +983 2222 4444</li>
									<li><i class="lni-alarm-clock"></i> 8AM to 6PM (Sun - Fri)
										Sat Off</li>
								</ul>
							</div>
							<!-- header info -->

							<div class="header-social text-center text-md-right pt-10">
								<ul>
									<li><a href="#"><i class="lni-facebook-filled"></i></a></li>
									<li><a href="#"><i class="lni-twitter-original"></i></a></li>
									<li><a href="#"><i class="lni-linkedin"></i></a></li>
									<li><a href="#"><i class="lni-pinterest"></i></a></li>
								</ul>
							</div>
							<!-- header social -->
						</div>
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- header-top -->

		<div class="navigation">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<nav class="navbar navbar-expand-lg">
							<a class="navbar-brand" href="index.html"> <img
								style="height: 45px;" src="assets/images/logo.jpg" alt="Logo">
							</a>
							<!-- Logo -->

							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="toggler-icon"></span> <span class="toggler-icon"></span>
								<span class="toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse sub-menu-bar"
								id="navbarSupportedContent">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item "><a th:href="@{/}">Home</a></li>
									<li class="nav-item"><a class="" th:href="@{/about}">About
											us</a></li>
									<li class="nav-item"><a href="department.html">Services</a>

										<ul class="sub-menu">
											<li><a href="department.html">Department</a></li>
											<li><a href="department-details.html">Department
													Details</a></li>
										</ul></li>
									<li class="nav-item"><a th:href="@{/departure}">Departure</a>
									</li>
									<li class="nav-item"><a class="active"
										th:href="@{/contact}">Contact</a></li>
								</ul>
								<!-- navbar-nav -->
							</div>
							<!-- navbar-collapse -->

							<div class="navbar-btn d-none d-sm-block">
								<a class="main-btn" th:href="@{/login}">Login</a>
							</div>
						</nav>
						<!-- navbar -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- navigation -->
	</header>

	<!--====== HEADER PART ENDS ======-->

	<!--====== PAGE BANNER PART START ======-->

	<section class="page-banner bg_cover" data-overlay="5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="page-content text-center">
						<h2 class="page-title">Booking a Travel</h2>

					</div>
					<!-- page content -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== PAGE BANNER PART ENDS ======-->

	<!--====== CONTACT PART START ======-->

	<section class="pt-80 pb-130">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">

					<center>
						<span th:if="${msg}" th:text="${msg}" id="msgid"
							class="alert alert-success" style=""></span>
					</center>
					<form th:method="post" th:object="${bookinghere}"
						th:action="@{/bookingseats}">
						 <div class="form-group">
							<span class="here" th:if="${#fields.hasErrors('clientnames')}"
								th:errors="*{clientnames}">Name Error</span> <input
								placeholder="Your FullName" type="text" class="form-control"
								 th:field="*{clientnames}">
						</div> 
				

					 	<div class="form-group">
					 	<span class="here" th:if="${#fields.hasErrors('contantactperson')}"
								th:errors="*{contantactperson}">Name Error</span>
							<input type="tel" placeholder="add your phone number"
								maxlength="10" class="form-control" name="contact"
								th:field="*{contantactperson}">

						</div>
					 	<div class="form-group select">
					 	 <span class="here" th:if="${#fields.hasErrors('scheduleslink.departuree.destinationname')}"
								th:errors="*{scheduleslink.departuree.destinationname}">Name Error</span>
							<select required class="form-control selectbox " id="destinationid">
								<option value="" disabled >Select Destionation</option>
								<option th:each="type : ${departure_view4}"
									th:value="${type.idnum}" th:text="${type.destinationname}"></option>
							</select>
						</div>  
						<div class="mailing">
							<select th:field="*{scheduleslink.idnum}" class=" selectbox userid" id="userid">
								
							</select>
						</div> 
<!-- 						 <div class="form-group">
							<span class="here" ></span> <select 
								class="form-control selectbox ">
								<option value="" disabled >Select Depart hour</option>
								
								<option th:each="type : ${alldeperturetimes}"
									th:value="${type.idnum}" th:text="${type.deperthour}"></option>
							</select>
						</div> -->
						<div class="form-group select">
							<span class="here" th:if="${#fields.hasErrors('useremail')}"
								th:errors="*{useremail}">Name Error</span> <input
								placeholder="Email" type="email" class="form-control"
								id="exampleInputEmail1" aria-describedby="emailHelp"
								th:field="*{useremail}"> <small id="emailHelp"
								class="form-text text-muted">We'll never share your
								email with anyone else.</small>
						</div>  

					 	<div class="form-group">
					 	<span class="here" th:if="${#fields.hasErrors('numberofseats')}"
								th:errors="*{numberofseats}">Name Error</span>
							<select  th:field="*{numberofseats}" id="seats" class="form-control selectbox ">
								<option value="0" disabled>Select number of Tickets</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>



						<button type="submit" class="btn main-btn">Request</button>
					</form>
				</div>
				<div class="col-lg-4">
					<div class="contact-info mt-50">
						<h4 class="info-title">Don’t Hesitate to contact with us for
							any kind of information</h4>
						<ul>
							<li>
								<div class="single-info">
									<div class="info-icon">
										<i class="lni-money-location"></i>
									</div>
									<div class="info-content">
										<p class="text">
											900 Lucerne Terrace,Orlando, <br> FL 32806, USA
										</p>
									</div>
								</div> <!-- single-info -->
							</li>
							<li>
								<div class="single-info">
									<div class="info-icon">
										<i class="lni-phone"></i>
									</div>
									<div class="info-content">
										<p class="text">+198 555 4444</p>
										<p class="text">+193 444 9898</p>
									</div>
								</div> <!-- single-info -->
							</li>
							<li>
								<div class="single-info">
									<div class="info-icon">
										<i class="lni-envelope"></i>
									</div>
									<div class="info-content">
										<p class="text">contact@Medical.com</p>
									</div>
								</div> <!-- single-info -->
							</li>
						</ul>
						<ul class="social">
							<li><a href="#"><i class="lni-facebook-filled"></i></a></li>
							<li><a href="#"><i class="lni-twitter-original"></i></a></li>
							<li><a href="#"><i class="lni-behance-original"></i></a></li>
							<li><a href="#"><i class="lni-youtube"></i></a></li>
						</ul>
					</div>
					<!-- contact-info -->
				</div>
			</div>
			<!-- row -->

			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== CONTACT PART ENDS ======-->

	<!--====== CALL TO ACTION PART START ======-->

	<section class="call-action-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div
						class="call-action d-lg-flex justify-content-between align-items-center">
						<div class="action-content">
							<h3 class="action-title">Don’t hasitate to contact us!</h3>
							<p class="text">It is a long established fact that a reader
								will be distracted by the readable content of a page when
								looking at its layout. The point of using Lorem.</p>
						</div>
						<!-- action content -->
						<div class="action-btn">
							<a class="main-btn" href="#">get appointment</a>
						</div>
						<!-- action btn -->
					</div>
					<!-- call action -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== CALL TO ACTION PART ENDS ======-->

	<!--====== FOOTER PART START ======-->

    <footer class="footer-area">


        
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-content text-center">
                            <p class="text"> &copy; 2021 Copyright Ritco. <a href="https://graygrids.com" rel="nofollow">Designed by Scovia Kayesu</a></p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- copyright -->
    </footer>
	<!--====== FOOTER PART ENDS ======-->

	<!--====== BACK TO TOP PART START ======-->

	<a href="#" class="back-to-top"><i class="flaticon-next"></i><span>Back
			To Top</span></a>

	<!--====== BACK TO TOP PART ENDS ======-->

	<!--====== PART START ======-->

	<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

	<!--====== PART ENDS ======-->


	<!-- row -->








	<!--====== jquery js ======-->

	<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

	<!--====== Bootstrap js ======-->
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>

	<!--====== Slick js ======-->
	<script src="/assets/js/slick.min.js"></script>

	<!--====== Magnific Popup js ======-->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>

	<!--====== WOW js ======-->
	<script src="/assets/js/wow.min.js"></script>

	<!--====== Gijgo js ======-->
	<script src="/assets/js/gijgo.min.js"></script>

	<!--====== Nice Select js ======-->
	<script src="/assets/js/jquery.nice-select.min.js"></script>

	<!--====== Counter Up js ======-->
	<script src="/assets/js/waypoints.min.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>

	<!--====== Time Picker js ======-->
	<script src="/assets/js/jquery.timepicker.min.js"></script>

	<!--====== Validator js ======-->
	<script src="/assets/js/validator.min.js"></script>

	<!--====== Ajax Contact js ======-->
	<script src="/assets/js/ajax-contact.js"></script>

	<!--====== Main js ======-->
	<script src="/assets/js/main.js"></script>
	<script>
		setTimeout(function() {
			if ($("#msgid").length > 0) {
				$("#msgid").remove();
			}
		}, 10000);
	</script>
	
	  
<script type="text/javascript">
	 $(document).ready(function(){
		 console.log("here weo go ");
		
		// $("#userid").append(o);
			    $("#destinationid").on('change',function(){
			     var destinationidis=$(this).val();
			    // console.log(destinationidis);
			     if(destinationidis!=='')
			     {
			    	 $('.userid .list').empty();
					 $("#userid").empty();
			    	  $.ajax({
					    	 type: 'GET',
					    	 data:'destinationid='+destinationidis,
					    	 url:'http://localhost:8010/loadAllDeparture',
					    	 success: function(result){
					    		
					    		 console.log(result);
					    		 for (var i=0; i<result.listofhours.length;i++){
					    			 var o=new Option(result.listofhours[i].deperthours, result.listofhours[i].idnum);
					    			 $(o).html(result.listofhours[i].deperthours);
					    			 $("#userid").append(o);
					    			 $('.userid .list').append("<li data-value='"+result.listofhours[i].idnum+"' id='userid' class='option'>"+result.listofhours[i].deperthours+"</li>")
					    		 }
// 					    		 var s = '';
// 					    			 s+='<option value="' +result.idnum+ '">' + result.username+'</option>'; 
					    			 
// 					    		 $("#userid").append(s);
					    		// $(s).appendTo( "#userid" );
					    	 },
					    	 fail:function(){
					    		 console.log("---------------------------+++++++++++++++++++++++erros")
					    	 }
					      });
			     }
			     //console.log(destinationidis+"---------------")
			     //  alert(destinationidis);
			   
			
			   }
			 )
			   })
	</script> 

</body>

</html>
