<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<!--====== Required meta tags ======-->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--====== Title ======-->
<title>Ritco - Contact</title>
<link rel="stylesheet" href="/assets/images/favicon.png"
	type="image/png" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/LineIcons.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/magnific-popup.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/nice-select.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/jquery.timepicker.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/slick.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/validation/validate.css" />

</head>

<link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/v4-shims.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome.min.css}" />



<body>

	<!--====== PRELOADER PART START ======-->

	<div class="preloader">
		<div class="loader">
			<div class="ytp-spinner">
				<div class="ytp-spinner-container">
					<div class="ytp-spinner-rotator">
						<div class="ytp-spinner-left">
							<div class="ytp-spinner-circle"></div>
						</div>
						<div class="ytp-spinner-right">
							<div class="ytp-spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--====== PRELOADER PART ENDS ======-->

	<!--====== HEADER PART START ======-->

	<header class="header-area">
		<div class="header-top pb-10">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div
							class="header-top-content d-md-flex justify-content-between align-items-center">
							<div class="header-info pt-10 d-none d-md-block">
								<ul>
									<li><i class="lni-envelope"></i> info@contact.com</li>
									<li><i class="lni-mobile"></i> +983 2222 4444</li>
									<li><i class="lni-alarm-clock"></i> 8AM to 6PM (Sun - Fri)
										Sat Off</li>
								</ul>
							</div>
							<!-- header info -->

							<div class="header-social text-center text-md-right pt-10">
								<ul>
									<li><a href="#"><i class="lni-facebook-filled"></i></a></li>
									<li><a href="#"><i class="lni-twitter-original"></i></a></li>
									<li><a href="#"><i class="lni-linkedin"></i></a></li>
									<li><a href="#"><i class="lni-pinterest"></i></a></li>
								</ul>
							</div>
							<!-- header social -->
						</div>
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- header-top -->

		<div class="navigation">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<nav class="navbar navbar-expand-lg">
							<a class="navbar-brand" href="index.html"> <img
								style="height: 45px;" src="assets/images/logo.jpg" alt="Logo">
							</a>
							<!-- Logo -->

							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="toggler-icon"></span> <span class="toggler-icon"></span>
								<span class="toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse sub-menu-bar"
								id="navbarSupportedContent">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item "><a th:href="@{/}">Home</a></li>
									<li class="nav-item"><a class="" th:href="@{/about}">About
											us</a></li>
									<li class="nav-item"><a href="department.html">Services</a>

										<ul class="sub-menu">
											<li><a href="department.html">Department</a></li>
											<li><a href="department-details.html">Department
													Details</a></li>
										</ul></li>
									<li class="nav-item"><a th:href="@{/departure}">Departure</a>
									</li>
									<li class="nav-item"><a class="active"
										th:href="@{/contact}">Contact</a></li>
								</ul>
								<!-- navbar-nav -->
							</div>
							<!-- navbar-collapse -->

							<div class="navbar-btn d-none d-sm-block">
								<a class="main-btn" th:href="@{/login}">Login</a>
							</div>
						</nav>
						<!-- navbar -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- navigation -->
	</header>

	<!--====== HEADER PART ENDS ======-->

	<!--====== PAGE BANNER PART START ======-->

	<section class="page-banner bg_cover" data-overlay="5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="page-content text-center">
						<h2 class="page-title">User Registration</h2>

					</div>
					<!-- page content -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== PAGE BANNER PART ENDS ======-->

	<!--====== CONTACT PART START ======-->

	<section class="pt-80 pb-130">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
                       
					<center>
						<span th:if="${msg}" th:text="${msg}" id="msgid" class="alert alert-success" style="z-index=1;"></span>
					</center>
					<form th:method="post" th:object="${myobj}"
						th:action="@{/register}">
						<div class="form-group">
							<span class="here" th:if="${#fields.hasErrors('userfirstname')}"
								th:errors="*{userfirstname}">Name Error</span> <input
								placeholder="First Name" type="text" class="form-control"
								id="firstname" th:field="*{userfirstname}">
						</div>
						<div class="form-group">
							<span class="
								here"
								th:if="${#fields.hasErrors('userlastname')}"
								th:errors="*{userlastname}">Name Error</span> <input type="text"
								placeholder="Last Name" class="form-control" id="lastname"
								th:field="*{userlastname}">
						</div>
						<div class="form-group">
							<span class="here" th:if="${#fields.hasErrors('contactnumber')}"
								th:errors="*{contactnumber}">Name Error</span> <input
								type="text" placeholder="phone number" maxlength="10"
								class="form-control" name="contact" th:field="*{contactnumber}">

						</div>
						<div class="form-group">
							<span class="here" th:if="${#fields.hasErrors('gender')}"
								th:errors="*{gender}">Name Error</span> <select
								th:field="*{gender}" class="form-control selectbox ">
								<option value="">Gender</option>
								<option value="Female">Female</option>
								<option value="Male">Male</option>
							</select>
						</div>

						<div class="form-group mailing">
							<span class="here" th:if="${#fields.hasErrors('username')}"
								th:errors="*{username}">Name Error</span> <input
								placeholder="Email" type="email" class="form-control"
								id="exampleInputEmail1" aria-describedby="emailHelp"
								th:field="*{username}"> <small id="emailHelp"
								class="form-text text-muted">We'll never share your
								email with anyone else.</small>
						</div>
						
						<div class="form-group  ">
							<span class="here" th:if="${#fields.hasErrors('roles')}"
								th:errors="*{roles}">Name Error</span> <select
								th:field="*{roles}" class="form-control selectbox ">
								<option value="" disabled>User type</option>
								<option value="ADMIN">ADMIN</option>
								<option value="OTHERUSER">Normal User</option>

							</select>
						</div>
						<!-- <div class="form-group" style="margin-top: 170px !important">
							<input placeholder="your password" type="password"
								class="form-control" name="Password1" id="password1">
						</div> -->

						<div class="form-group mailing" >
							<span class="here" 
								th:if="${#fields.hasErrors('passwordd')}"
								th:errors="*{passwordd}">Name Error</span> <input
								placeholder="create your password" type="password"
								class="form-control" name="password1" id="password1" th:field="*{passwordd}">
						</div>
						<!-- <div class="form-group" >
							<span class="here" 
								th:if="${#fields.hasErrors('passwordconfiramtion')}"
								th:errors="*{passwordconfiramtion}">Name Error</span> <input
								placeholder="confirm your password" type="password"
								class="form-control" name="password2" id="password2" th:field="*{passwordconfiramtion}">
						</div> -->

						<button type="submit" class="btn main-btn">Register</button>
					</form>
				</div>
				<div class="col-lg-4">
					<div class="contact-info mt-50">
						<h4 class="info-title">Don’t Hesitate to contact with us for
							any kind of information</h4>
						<ul>
							<li>
								<div class="single-info">
									<div class="info-icon">
										<i class="lni-money-location"></i>
									</div>
									<div class="info-content">
										<p class="text">
											900 Lucerne Terrace,Orlando, <br> FL 32806, USA
										</p>
									</div>
								</div> <!-- single-info -->
							</li>
							<li>
								<div class="single-info">
									<div class="info-icon">
										<i class="lni-phone"></i>
									</div>
									<div class="info-content">
										<p class="text">+198 555 4444</p>
										<p class="text">+193 444 9898</p>
									</div>
								</div> <!-- single-info -->
							</li>
							<li>
								<div class="single-info">
									<div class="info-icon">
										<i class="lni-envelope"></i>
									</div>
									<div class="info-content">
										<p class="text">contact@Medical.com</p>
									</div>
								</div> <!-- single-info -->
							</li>
						</ul>
						<ul class="social">
							<li><a href="#"><i class="lni-facebook-filled"></i></a></li>
							<li><a href="#"><i class="lni-twitter-original"></i></a></li>
							<li><a href="#"><i class="lni-behance-original"></i></a></li>
							<li><a href="#"><i class="lni-youtube"></i></a></li>
						</ul>
					</div>
					<!-- contact-info -->
				</div>
			</div>
			<!-- row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="contact-map mt-130">
						<div class="gmap_canvas">
							<iframe id="gmap_canvas"
								src="https://maps.google.com/maps?q=Mission%20District%2C%20San%20Francisco%2C%20CA%2C%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed"
								frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
						</div>
					</div>
					<!-- contact map -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== CONTACT PART ENDS ======-->

	<!--====== CALL TO ACTION PART START ======-->

	<section class="call-action-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div
						class="call-action d-lg-flex justify-content-between align-items-center">
						<div class="action-content">
							<h3 class="action-title">Don’t hasitate to contact us!</h3>
							<p class="text">It is a long established fact that a reader
								will be distracted by the readable content of a page when
								looking at its layout. The point of using Lorem.</p>
						</div>
						<!-- action content -->
						<div class="action-btn">
							<a class="main-btn" href="#">get appointment</a>
						</div>
						<!-- action btn -->
					</div>
					<!-- call action -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== CALL TO ACTION PART ENDS ======-->

	<!--====== FOOTER PART START ======-->


    <footer class="footer-area">


        
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-content text-center">
                            <p class="text"> &copy; 2021 Copyright Ritco. <a href="https://graygrids.com" rel="nofollow">Designed by Scovia Kayesu</a></p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- copyright -->
    </footer>

	<!--====== FOOTER PART ENDS ======-->

	<!--====== BACK TO TOP PART START ======-->

	<a href="#" class="back-to-top"><i class="flaticon-next"></i><span>Back
			To Top</span></a>

	<!--====== BACK TO TOP PART ENDS ======-->

	<!--====== PART START ======-->

	<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

	<!--====== PART ENDS ======-->


	<!-- row -->








	<!--====== jquery js ======-->

	<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

	<!--====== Bootstrap js ======-->
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>

	<!--====== Slick js ======-->
	<script src="/assets/js/slick.min.js"></script>

	<!--====== Magnific Popup js ======-->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>

	<!--====== WOW js ======-->
	<script src="/assets/js/wow.min.js"></script>

	<!--====== Gijgo js ======-->
	<script src="/assets/js/gijgo.min.js"></script>

	<!--====== Nice Select js ======-->
	<script src="/assets/js/jquery.nice-select.min.js"></script>

	<!--====== Counter Up js ======-->
	<script src="/assets/js/waypoints.min.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>

	<!--====== Time Picker js ======-->
	<script src="/assets/js/jquery.timepicker.min.js"></script>

	<!--====== Validator js ======-->
	<script src="/assets/js/validator.min.js"></script>

	<!--====== Ajax Contact js ======-->
	<script src="/assets/js/ajax-contact.js"></script>

	<!--====== Main js ======-->
	<script src="/assets/js/main.js"></script>
    <script>
      setTimeout(function () {
        if ($("#msgid").length > 0) {
          $("#msgid").remove();
        }
      }, 6000);
    </script>
</body>

</html>
