<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<!--====== Required meta tags ======-->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--====== Title ======-->
<title>Ritco - About</title>
<link rel="stylesheet" href="/assets/images/favicon.png"
	type="image/png" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/LineIcons.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/magnific-popup.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/nice-select.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/jquery.timepicker.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/slick.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

</head>

<link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/v4-shims.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome.min.css}" />



<body>

	<!--====== PRELOADER PART START ======-->

	<div class="preloader">
		<div class="loader">
			<div class="ytp-spinner">
				<div class="ytp-spinner-container">
					<div class="ytp-spinner-rotator">
						<div class="ytp-spinner-left">
							<div class="ytp-spinner-circle"></div>
						</div>
						<div class="ytp-spinner-right">
							<div class="ytp-spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--====== PRELOADER PART ENDS ======-->

	<!--====== HEADER PART START ======-->

	<header class="header-area">
		<div class="header-top pb-10">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div
							class="header-top-content d-md-flex justify-content-between align-items-center">
							<div class="header-info pt-10 d-none d-md-block">
								<ul>
									<li><i class="lni-envelope"></i> info@contact.com</li>
									<li><i class="lni-mobile"></i> +983 2222 4444</li>
									<li><i class="lni-alarm-clock"></i> 8AM to 6PM (Sun - Fri)
										Sat Off</li>
								</ul>
							</div>
							<!-- header info -->

							<div class="header-social text-center text-md-right pt-10">
								<ul>
									<li><a href="#"><i class="lni-facebook-filled"></i></a></li>
									<li><a href="#"><i class="lni-twitter-original"></i></a></li>
									<li><a href="#"><i class="lni-linkedin"></i></a></li>
									<li><a href="#"><i class="lni-pinterest"></i></a></li>
								</ul>
							</div>
							<!-- header social -->
						</div>
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- header-top -->

		<div class="navigation">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<nav class="navbar navbar-expand-lg">
							<a class="navbar-brand" href="index.html"> <img
								style="height: 45px;" src="assets/images/logo.jpg" alt="Logo">
							</a>
							<!-- Logo -->

							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="toggler-icon"></span> <span class="toggler-icon"></span>
								<span class="toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse sub-menu-bar"
								id="navbarSupportedContent">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item "><a th:href="@{/}">Home</a></li>
									<li class="nav-item"><a class="active" th:href="@{/about}">About
											us</a></li>
									<li class="nav-item"><a href="department.html">Services</a>

										<ul class="sub-menu">
											<li><a href="department.html">Department</a></li>
											<li><a href="department-details.html">Department
													Details</a></li>
										</ul></li>
									<li class="nav-item"><a th:href="@{/departurehome}">Departure</a>
									</li>
									<li class="nav-item"><a th:href="@{/contact}">Contact</a>
									</li>
								</ul>
								<!-- navbar-nav -->
							</div>
							<!-- navbar-collapse -->

							<div class="navbar-btn d-none d-sm-block">
								<a class="main-btn" th:href="@{/login}">Login</a>
							</div>
						</nav>
						<!-- navbar -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- navigation -->
	</header>

	<!--====== HEADER PART ENDS ======-->

	<!--====== PAGE BANNER PART START ======-->

	<section class="page-banner bg_cover" data-overlay="5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="page-content text-center">
						<h2 class="page-title">About Ritco</h2>

					</div>
					<!-- page content -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== PAGE BANNER PART ENDS ======-->

	<!--====== ABOUT PAGE PART START ======-->

	<section class="about-page pt-100 pb-130">
		<div class="about-shape-left d-none d-lg-block">
			<img src="assets/images/shape-3.png" alt="shape">
		</div>
		<!-- about-shape -->

		<div class="container">

			<div class="about-page-content pt-10">
				<div class="row">
					<div class="col-xl-5 col-lg-6">
						<div class="about-image-tow mt-50">
							<img src="assets/images/about-2.jpg" alt="About"> <a
								class="about-video video-popup" href="#"><i class="lni-play"></i></a>
						</div>
						<!-- about image -->
					</div>
					<div class=" offset-xl-1 col-lg-6">
						<div class="about-content-tow mt-45">
							<div class="section-title mb-30">
								<h3 class="title">Rwanda Interlink-Link Transport Company
									ltd (RICTO)</h3>
							</div>
							<!-- section title -->
							<p class="text">is a result of a partnership between the
								Government of Rwanda and Rwanda Federation of Transport
								Cooperatives (RFTC) now Jali Holdings in 2016. In a bid to serve
								the public transport sector efficiently, RITCO was established
								to replace ONATRACOM ( Office National de Transport en Commn)
								which was a bus company that dated back to the 1970’s providing
								regional, urban and rural transport services. RFTC is a
								transport oriented organization that was created to provide
								immediate and long term solutions to transport needs in Kigali
								City and the rest of Rwanda.</p>
							
							<a class="main-btn" th:href="@{/contact}">contant us
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
						<!-- about image -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- about-page-content -->
		</div>
		<!-- container -->

		<div class="about-shape-right d-none d-lg-block">
			<img src="assets/images/shape-4.png" alt="shape">
		</div>
		<!-- about-shape -->
	</section>

	<!--====== ABOUT PAGE PART ENDS ======-->

	<!--====== COUNTER PART START ======-->



	<!--====== COUNTER PART ENDS ======-->

	<!--====== TEAM PART START ======-->



	<!--====== TEAM PART ENDS ======-->

	<!--====== FAQ PART START ======-->



	<!--====== FAQ PART ENDS ======-->

	<!--====== TESTIMONIAL PART START ======-->
	<!-- 
    <section class="testimonial-two-area pt-125 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-title">
                        <h5 class="sub-title">Testimonials</h5>
                        <h3 class="title">Service Recipient Says</h3>
                    </div> section title
                </div>
            </div> row
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-two-active">
                        <div class="single-testimonial-two mt-60">
                            <div class="testimonial-content">
                                <i class="lni-quotation"></i>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis turpis vitae tortor convallis eleifend. In volutpat maximus mauris non fringilla. Cras pulvinar aliquam massa nec lacinia.</p>
                                <h5 class="testimonial-name">Mohammad Mostofa</h5>
                                <span>- Random Customer</span>
                            </div> testimonial content
                            <div class="testimonial-image">
                                <img src="assets/images/testimonial.png" alt="testimonial">
                            </div>
                        </div> single testimonial
                        <div class="single-testimonial-two mt-60">
                            <div class="testimonial-content">
                                <i class="lni-quotation"></i>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis turpis vitae tortor convallis eleifend. In volutpat maximus mauris non fringilla. Cras pulvinar aliquam massa nec lacinia.</p>
                                <h5 class="testimonial-name">Bobby Akter</h5>
                                <span>- Random Customer</span>
                            </div> testimonial content
                            <div class="testimonial-image">
                                <img src="assets/images/testimonial.png" alt="testimonial">
                            </div>
                        </div> single testimonial
                        <div class="single-testimonial-two mt-60">
                            <div class="testimonial-content">
                                <i class="lni-quotation"></i>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis turpis vitae tortor convallis eleifend. In volutpat maximus mauris non fringilla. Cras pulvinar aliquam massa nec lacinia.</p>
                                <h5 class="testimonial-name">Humayun Ahmed</h5>
                                <span>- Random Customer</span>
                            </div> testimonial content
                            <div class="testimonial-image">
                                <img src="assets/images/testimonial.png" alt="testimonial">
                            </div>
                        </div> single testimonial
                    </div> testimonial active
                </div>
            </div> row
        </div> container
    </section> -->

	<!--====== TESTIMONIAL PART ENDS ======-->

	<!--====== CALL TO ACTION PART START ======-->

	<section class="call-action-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div
						class="call-action d-lg-flex justify-content-between align-items-center">
						<div class="action-content">
							<h3 class="action-title">Don’t hasitate to contact us!</h3>
							<p class="text">When you get an issue on your journey.</p>
						</div>
						<!-- action content -->
						<div class="action-btn">
							<a class="main-btn" th:href="@{/contact}">contact us</a>
						</div>
						<!-- action btn -->
					</div>
					<!-- call action -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== CALL TO ACTION PART ENDS ======-->

	<!--====== FOOTER PART START ======-->

	<div th:insert="flagments/footer :: footer "></div>

	<!--====== FOOTER PART ENDS ======-->

	<!--====== BACK TO TOP PART START ======-->

	<a href="#" class="back-to-top"><i class="flaticon-next"></i><span>Back
			To Top</span></a>

	<!--====== BACK TO TOP PART ENDS ======-->

	<!--====== PART START ======-->

	<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

	<!--====== PART ENDS ======-->


	<!-- row -->








	<!--====== jquery js ======-->
	<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

	<!--====== Bootstrap js ======-->
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>

	<!--====== Slick js ======-->
	<script src="/assets/js/slick.min.js"></script>

	<!--====== Magnific Popup js ======-->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>

	<!--====== WOW js ======-->
	<script src="/assets/js/wow.min.js"></script>

	<!--====== Gijgo js ======-->
	<script src="/assets/js/gijgo.min.js"></script>

	<!--====== Nice Select js ======-->
	<script src="/assets/js/jquery.nice-select.min.js"></script>

	<!--====== Counter Up js ======-->
	<script src="/assets/js/waypoints.min.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>

	<!--====== Time Picker js ======-->
	<script src="/assets/js/jquery.timepicker.min.js"></script>

	<!--====== Validator js ======-->
	<script src="/assets/js/validator.min.js"></script>

	<!--====== Ajax Contact js ======-->
	<script src="/assets/js/ajax-contact.js"></script>

	<!--====== Main js ======-->
	<script src="/assets/js/main.js"></script>

</body>

</html>
