<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
   <title>Ritco - Contact</title>
   <link rel="stylesheet" 
	href="/assets/images/favicon.png" type="image/png" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
	href="/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css"
	href="/assets/css/LineIcons.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/flaticon.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/magnific-popup.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/gijgo.min.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/gijgo.min.css"/>
	<link rel="stylesheet" type="text/css"
	href="assets/css/nice-select.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/jquery.timepicker.min.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/animate.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/slick.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/default.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/style.css"/>
	
	</head>
	
<link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/v4-shims.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome.min.css}" />



<body>
    
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->

    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="header-top pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-top-content d-md-flex justify-content-between align-items-center">
                            <div class="header-info pt-10 d-none d-md-block">
                                <ul>
                                    <li><i class="lni-envelope"></i> info@contact.com</li>
                                    <li><i class="lni-mobile"></i> +983 2222 4444</li>
                                    <li><i class="lni-alarm-clock"></i> 8AM to 6PM (Sun - Fri) Sat Off</li>
                                </ul>
                            </div> <!-- header info -->

                            <div class="header-social text-center text-md-right pt-10">
                                <ul>
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin"></i></a></li>
                                    <li><a href="#"><i class="lni-pinterest"></i></a></li>
                                </ul>
                            </div> <!-- header social -->
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header-top -->

        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="index.html">
                                <img style="height:45px;" src="assets/images/logo.jpg" alt="Logo">
                            </a> <!-- Logo -->

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item ">
                                        <a th:href="@{/}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="" th:href="@{/about}">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="department.html">Services</a>
                                        
                                        <ul class="sub-menu">
                                            <li><a href="department.html">Department</a></li>
                                            <li><a href="department-details.html">Department Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/departurehome}">Departure</a>
                                    </li>
                                    <li class="nav-item">
                                        <a  class="active" th:href="@{/contact}">Contact</a>
                                    </li>
                                </ul> <!-- navbar-nav -->
                            </div> <!-- navbar-collapse -->

                            <div class="navbar-btn d-none d-sm-block">
                                <a class="main-btn" th:href="@{/login}">Login</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation -->
    </header>

    <!--====== HEADER PART ENDS ======-->
    
    <!--====== PAGE BANNER PART START ======-->

    <section class="page-banner bg_cover" data-overlay="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content text-center">
                        <h2 class="page-title">Contact Us</h2>
                        
                    </div> <!-- page content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->
    
    <!--====== CONTACT PART START ======-->

    <section class="contact-page pt-80 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form pt-20">
                        <form id="contact-form" action="assets/contact.php" method="post" data-toggle="validator">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-contact-form form-group">
                                        <input type="text" name="name" placeholder="Name" data-error="Name is required." required="required">
                                        <div class="help-block with-errors"></div>
                                        <i class="lni-user"></i>
                                    </div> <!-- single-contact-form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="single-contact-form form-group">
                                        <input type="email" name="email" placeholder="Email" data-error="Valid email is required." required="required">
                                        <div class="help-block with-errors"></div>
                                        <i class="lni-envelope"></i>
                                    </div> <!-- single-contact-form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="single-contact-form form-group">
                                        <input type="text" name="subject" placeholder="Subject"  data-error="Subject is required." required="required">
                                        <div class="help-block with-errors"></div>
                                        <i class="lni-pencil"></i>
                                    </div> <!-- single-contact-form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="single-contact-form form-group">
                                        <input type="text" name="phone" placeholder="Phone Number"  data-error="Phone is required." required="required">
                                        <div class="help-block with-errors"></div>
                                        <i class="lni-phone-handset"></i>
                                    </div> <!-- single-contact-form -->
                                </div>
                                <div class="col-md-12">
                                    <div class="single-contact-form form-group">
                                        <textarea name="message" placeholder="Your Comment" data-error="Please,leave us a message." required="required"></textarea>
                                        <div class="help-block with-errors"></div>
                                        <i class="lni-pencil-alt"></i>
                                    </div> <!-- single-contact-form -->
                                </div>
                                <p class="form-message"></p>
                                <div class="col-md-12">
                                    <div class="single-contact-form form-group">
                                        <button type="submit" class="main-btn">Submit</button>
                                    </div> <!-- single-contact-form -->
                                </div>
                            </div> <!-- row -->
                        </form>
                    </div> <!-- contact-form -->
                </div>
                <div class="col-lg-4">
                    <div class="contact-info mt-50">
                        <h4 class="info-title">Don’t Hesitate to contact with us for any kind of information</h4>
                        <ul>
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="lni-money-location"></i>
                                    </div>
                                    <div class="info-content">
                                        <p class="text">900 Nyabugogo,kigali, <br> FL 32806, RWanda</p>
                                    </div>
                                </div> <!-- single-info -->
                            </li>
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="lni-phone"></i>
                                    </div>
                                    <div class="info-content">
                                        <p class="text">+250 555 4444</p>
                                        <p class="text">+250 444 9898</p>
                                    </div>
                                </div> <!-- single-info -->
                            </li>
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="lni-envelope"></i>
                                    </div>
                                    <div class="info-content">
                                        <p class="text">contact@Ritco.com</p>
                                    </div>
                                </div> <!-- single-info -->
                            </li>
                        </ul>
                        <ul class="social">
                            <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                            <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                            <li><a href="#"><i class="lni-behance-original"></i></a></li>
                            <li><a href="#"><i class="lni-youtube"></i></a></li>
                        </ul>
                    </div> <!-- contact-info -->
                </div>
            </div> <!-- row -->
       <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== CONTACT PART ENDS ======-->

    <!--====== CALL TO ACTION PART START ======-->

    <section class="call-action-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="call-action d-lg-flex justify-content-between align-items-center">
                        <div class="action-content">
                            <h3 class="action-title">Don’t hesitate to contact us!</h3>
                            <p class="text">when you get an issue during your journey.</p>
                        </div> <!-- action content -->
                         <!-- action btn -->
                    </div> <!-- call action -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== CALL TO ACTION PART ENDS ======-->

    <!--====== FOOTER PART START ======-->

 <div th:insert="flagments/footer :: footer "></div>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="flaticon-next"></i><span>Back To Top</span></a>

    <!--====== BACK TO TOP PART ENDS ======-->

    <!--====== PART START ======-->

<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

    <!--====== PART ENDS ======-->


    <!-- row -->








 <!--====== jquery js ======-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="/assets/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== WOW js ======-->
    <script src="/assets/js/wow.min.js"></script>

    <!--====== Gijgo js ======-->
    <script src="/assets/js/gijgo.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    
    <!--====== Counter Up js ======-->
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>

    <!--====== Time Picker js ======-->
    <script src="/assets/js/jquery.timepicker.min.js"></script>

     <!--====== Validator js ======-->
    <script src="/assets/js/validator.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="/assets/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="/assets/js/main.js"></script>

</body>

</html>
