<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<!--====== Required meta tags ======-->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--====== Title ======-->
<title>Ritco - About</title>
<link rel="stylesheet" href="/assets/images/favicon.png"
	type="image/png" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/LineIcons.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/magnific-popup.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/nice-select.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/jquery.timepicker.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/slick.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

</head>

<link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/v4-shims.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome.min.css}" />

<style>
.list-group-item {
	border: 0px solid white !important
}

.badge-primary {
	background-color: #6DAB3C !important;
	color: white !important;
}
</style>

<body>

	<!--====== PRELOADER PART START ======-->

	<div class="preloader">
		<div class="loader">
			<div class="ytp-spinner">
				<div class="ytp-spinner-container">
					<div class="ytp-spinner-rotator">
						<div class="ytp-spinner-left">
							<div class="ytp-spinner-circle"></div>
						</div>
						<div class="ytp-spinner-right">
							<div class="ytp-spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--====== PRELOADER PART ENDS ======-->

	<!--====== HEADER PART START ======-->

	<header class="header-area">
		<div class="header-top pb-10">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div
							class="header-top-content d-md-flex justify-content-between align-items-center">
							<div class="header-info pt-10 d-none d-md-block">
								<ul>
									<li><i class="lni-envelope"></i> info@contact.com</li>
									<li><i class="lni-mobile"></i> +983 2222 4444</li>
									<li><i class="lni-alarm-clock"></i> 8AM to 6PM (Sun - Fri)
										Sat Off</li>
								</ul>
							</div>
							<!-- header info -->

							<div class="header-social text-center text-md-right pt-10">
								<ul>
									<li><a href="#"><i class="lni-facebook-filled"></i></a></li>
									<li><a href="#"><i class="lni-twitter-original"></i></a></li>
									<li><a href="#"><i class="lni-linkedin"></i></a></li>
									<li><a href="#"><i class="lni-pinterest"></i></a></li>
								</ul>
							</div>
							<!-- header social -->
						</div>
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- header-top -->

		<div class="navigation">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<nav class="navbar navbar-expand-lg">
							<a class="navbar-brand" href="index.html"> <img
								style="height: 45px;" src="assets/images/logo.jpg" alt="Logo">
							</a>
							<!-- Logo -->

							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="toggler-icon"></span> <span class="toggler-icon"></span>
								<span class="toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse sub-menu-bar"
								id="navbarSupportedContent">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item "><a th:href="@{/}">Home</a></li>
									<li class="nav-item"><a class="active" th:href="@{/about}">About
											us</a></li>
									<li class="nav-item"><a href="department.html">Services</a>

										<ul class="sub-menu">
											<li><a href="department.html">Department</a></li>
											<li><a href="department-details.html">Department
													Details</a></li>
										</ul></li>
									<li class="nav-item"><a th:href="@{/departurehome}">Departure</a>
									</li>
									<li class="nav-item"><a th:href="@{/contact}">Contact</a>
									</li>
								</ul>
								<!-- navbar-nav -->
							</div>
							<!-- navbar-collapse -->

							<div class="navbar-btn d-none d-sm-block">
								<a class="main-btn" th:href="@{/login}">Login</a>
							</div>
						</nav>
						<!-- navbar -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- navigation -->
	</header>

	<!--====== HEADER PART ENDS ======-->

	<!--====== PAGE BANNER PART START ======-->

	<section class="page-banner bg_cover"
		
		data-overlay="5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="page-content text-center">
						<h2 class="page-title">All Availabe Departure</h2>

					</div>
					<!-- page content -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== PAGE BANNER PART ENDS ======-->

	<!--====== ABOUT PAGE PART START ======-->


	<!--====== COUNTER PART ENDS ======-->

	<!--====== TEAM PART START ======-->
	<!-- 	 <tr th:each="package : ${departure_view3}">
		<td th:text="${package.numberofseats}"></td>
		
								
	</tr>  -->
	<!-- <span th:text="${departure_view3.getprice}"></span> -->

	<section>
		<div class="container">

			<div class="row">
				<div   th:each="object : ${departure_view2}">
					<div class="" Style="margin-left: 10px;">
						<div class="single-team text-center mt-30 mb-30"
							style="padding-top: 5px !important;">
							<div>

								<h3 th:text="${object.destinationname}"></h3>
								
								<h6>
									<span>Departure date:</span><span
										th:text="${#dates.format(object.departuredate, 'MM-yyyy-dd')}"></span>
								</h6>
								<div>
									<span>Agent:</span><span
										th:text="${object.user.userlastname}"></span>
								</div>
								<div>
									<span>Contact:</span><span
										th:text="${object.user.contactnumber}"></span>
								</div>
								<div>
									<span>Price:</span><span th:text="${object.price}"></span>
								</div>
							</div>
							<div class="team-content">
								<ul>
									<li
										class="list-group-item d-flex justify-content-between align-items-center"><span>Time
											to Leave</span> <span class="badge badge-primary badge-pill">Seats</span>
									</li>
								</ul>
								
								<ul  th:each="package : ${departure_view3}">
								    
									<li  th:if="${object.idnum} == ${package.departuree.idnum}"
										class="list-group-item d-flex justify-content-between align-items-center"><span
										th:text="${package.timeschedules.deperthour}"></span> <span
										class="badge badge-primary badge-pill"
										th:text="${package.timeschedules.numberofseats}"></span></li>


								</ul>



								<div class="action-btn">
									<a class="main-btn" th:href="@{/bookingseats}">Book a Travel</a>
								</div>
								<ul class="social" style="margin-top: 10px !important;">
									<li><a href="#"><i class="lni-facebook-filled"></i></a></li>
									<li><a href="#"><i class="lni-twitter-original"></i></a></li>
									<li><a href="#"><i class="lni-instagram-original"></i></a></li>
									<li><a href="#"><i class="lni-linkedin-original"></i></a></li>
								</ul>
							</div>
						</div>
						<!-- single team -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== TEAM PART ENDS ======-->

	<!--====== FAQ PART START ======-->



	<!--====== FAQ PART ENDS ======-->

	<!--====== TESTIMONIAL PART START ======-->


	<!--====== TESTIMONIAL PART ENDS ======-->

	<!--====== CALL TO ACTION PART START ======-->

	<section class="call-action-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div
						class="call-action d-lg-flex justify-content-between align-items-center">
						<div class="action-content">
							<h3 class="action-title">Don’t hasitate to contact us!</h3>
							<p class="text">If you have an issue during your journey feel
								free to contact us. +2507484829233</p>
						</div>
						<!-- action content -->
						<div class="action-btn">
							<a class="main-btn" th:href="@{/contact}">contact us</a>
						</div>
						<!-- action btn -->
					</div>
					<!-- call action -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== CALL TO ACTION PART ENDS ======-->

	<!--====== FOOTER PART START ======-->

	<div th:insert="flagments/footer :: footer "></div>

	<!--====== FOOTER PART ENDS ======-->

	<!--====== BACK TO TOP PART START ======-->

	<a href="#" class="back-to-top"><i class="flaticon-next"></i><span>Back
			To Top</span></a>

	<!--====== BACK TO TOP PART ENDS ======-->

	<!--====== PART START ======-->

	<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

	<!--====== PART ENDS ======-->


	<!-- row -->








	<!--====== jquery js ======-->
	<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

	<!--====== Bootstrap js ======-->
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>

	<!--====== Slick js ======-->
	<script src="/assets/js/slick.min.js"></script>

	<!--====== Magnific Popup js ======-->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>

	<!--====== WOW js ======-->
	<script src="/assets/js/wow.min.js"></script>

	<!--====== Gijgo js ======-->
	<script src="/assets/js/gijgo.min.js"></script>

	<!--====== Nice Select js ======-->
	<script src="/assets/js/jquery.nice-select.min.js"></script>

	<!--====== Counter Up js ======-->
	<script src="/assets/js/waypoints.min.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>

	<!--====== Time Picker js ======-->
	<script src="/assets/js/jquery.timepicker.min.js"></script>

	<!--====== Validator js ======-->
	<script src="/assets/js/validator.min.js"></script>

	<!--====== Ajax Contact js ======-->
	<script src="/assets/js/ajax-contact.js"></script>

	<!--====== Main js ======-->
	<script src="/assets/js/main.js"></script>

</body>

</html>
