<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
   <title>Ritco - Home</title>
   <link rel="stylesheet" 
	href="/assets/images/favicon.png" type="image/png" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
	href="/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css"
	href="/assets/css/LineIcons.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/flaticon.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/magnific-popup.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/gijgo.min.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/gijgo.min.css"/>
	<link rel="stylesheet" type="text/css"
	href="assets/css/nice-select.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/jquery.timepicker.min.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/animate.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/slick.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/default.css"/>
	<link rel="stylesheet" type="text/css"
	href="/assets/css/style.css"/>
	
	</head>
	
<link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/v4-shims.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome.min.css}" />



<body>
    
    <!--====== PRELOADER PART START ======-->


    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--====== PRELOADER PART ENDS ======-->

    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="header-top pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-top-content d-md-flex justify-content-between align-items-center">
                            <div class="header-info pt-10 d-none d-md-block">
                                <ul>
                                    <li><i class="lni-envelope"></i> info@contact.com</li>
                                    <li><i class="lni-mobile"></i> +983 2222 4444</li>
                                    <li><i class="lni-alarm-clock"></i> 8AM to 6PM (Sun - Fri) Sat Off</li>
                                </ul>
                            </div> <!-- header info -->

                            <div class="header-social text-center text-md-right pt-10">
                                <ul>
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin"></i></a></li>
                                    <li><a href="#"><i class="lni-pinterest"></i></a></li>
                                </ul>
                            </div> <!-- header social -->
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header-top -->

        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="index.html">
                                <img style="height:45px;" src="assets/images/logo.jpg" alt="Logo">
                            </a> <!-- Logo -->

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item ">
                                        <a class="active" th:href="@{/}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a  th:href="@{/about}">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="department.html">Services</a>
                                        
                                        <ul class="sub-menu">
                                            <li><a href="department.html">Department</a></li>
                                            <li><a href="department-details.html">Department Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/departurehome}">Departure</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/contact}">Contact</a>
                                    </li>
                                </ul> <!-- navbar-nav -->
                            </div> <!-- navbar-collapse -->

                            <div class="navbar-btn d-none d-sm-block">
                                <a class="main-btn" th:href="@{/login}">Login</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation -->
    </header>

    <!--====== HEADER PART ENDS ======-->
    
    <!--====== SLIDER PART START ======-->

    <section class="slider-area">
        <div class="slider-active">
            <div class="single-slider">
                <div class="slider-image bg_cover" data-overlay="4" data-animation="kenburns" style="background-image: url(assets/images/slider/resize00079.jpg)"></div>

                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="content overflow-hidden">
                                    <h5 class="slider-sub-title sub-title" data-animation="fadeInUp" data-delay="0.5s">RITCO</h5>
                                    <h1 class="slider-title title" data-animation="fadeInUp" data-delay="1s">LINK PEOPLE WITH PLACES</h1>
                                    <!-- <a class="main-btn" href="#" data-animation="fadeInLeft" data-delay="1.5s">read more</a> -->
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                </div> <!-- slider content -->
            </div> <!-- single slider -->

            <div class="single-slider">
                <div class="slider-image bg_cover" data-overlay="4" data-animation="kenburns" style="background-image: url(assets/images/slider/scan0006.jpg)"></div>

                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="content overflow-hidden">
                                    <h5 class="slider-sub-title sub-title" data-animation="fadeInUp" data-delay="0.5s">RITCO</h5>
                                    <h1 class="slider-title title" data-animation="fadeInUp" data-delay="1s">LINK PEOPLE WITH PLACES</h1>
                                    <!-- <a class="main-btn" href="#" data-animation="fadeInLeft" data-delay="1.5s">read more</a> -->
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                </div> <!-- slider content -->
            </div> <!-- single slider -->

            <div class="single-slider">
                <div class="slider-image bg_cover" data-overlay="4" data-animation="kenburns" style="background-image: url(assets/images/slider/resize00042.jpg)"></div>

                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="content overflow-hidden">
                                    <h5 class="slider-sub-title sub-title" data-animation="fadeInUp" data-delay="0.5s">LUGGAGE</h5>
                                    <h1 class="slider-title title" data-animation="fadeInUp" data-delay="1s">We provide transportation  of all  kind of  baggage</h1>
                                    <!-- <a class="main-btn" href="#" data-animation="fadeInLeft" data-delay="1.5s">read more</a> -->
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                </div> <!-- slider content -->
            </div> <!-- single slider -->
        </div> <!-- slider active -->
    </section>

    <!--====== SLIDER PART ENDS ======-->
    
  
    
    <!--====== FEATURES PART START ======-->

    <section class="features-area pt-100 pb-65">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="single-features text-center mt-30">
                        <div class="features-icon">
                            <i class="lni-lock"></i>
                        </div>
                        <div class="features-content">
                            <h4 class="features-title"><a href="#">Safe &amp; Secure</a></h4>
                            <p class="text">Traveling with Ritco buses , you are sure to reach your destination 100% sure and safe .</p>
                            <!-- <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a> -->
                        </div>
                    </div> <!-- single features -->
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="single-features text-center mt-30 active">
                        <div class="features-icon">
                            <i class="lni-delivery"></i>
                        </div>
                        <div class="features-content">
                            <h4 class="features-title"><a href="#">Fast Delivery</a></h4>
                            <p class="text">with Ritco buses Delivery is good and fast.</br>Move with us</p>
                           <!--  <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a> -->
                        </div>
                    </div> <!-- single features -->
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="single-features text-center mt-30">
                        <div class="features-icon">
                            <i class="lni-support"></i>
                        </div>
                        <div class="features-content">
                            <h4 class="features-title"><a href="#">24/7 Support	</a></h4>
                            <p class="text">Ritco ltd supports clients for any problem ,information you want or any suggestion,<br>
24 hours ,7 days.<br>
feel free to tell us</p>
                            <!-- <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a> -->
                        </div>
                    </div> <!-- single features -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== FEATURES PART ENDS ======-->

    <!--====== ABOUT PART START ======-->

    <section class="about-area pt-15 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-image mt-50">
                        <img src="assets/images/about.png" alt="about">
                    </div> <!-- about-image -->
                </div>
                <div class="col-lg-6">
                    <div class="about-content mt-40">
                        <div class="section-title">
                            <h3 class="title">Short Story About Ritco.</h3>
                        </div> <!-- section title -->
                        <p class="text">RITCO Ltd is transport company with goal of  improving of public transport services in Rwanda and in the region in order to bring out of isolation citizens living in rural areas facilitating their access to development activities at affordable prices.</p>
                       <!--  <div class="about-form">
                            <form action="#">
                                <input type="text" placeholder="Enter Your Phone Number">
                                <button class="main-btn">Make a call</button>
                            </form>
                        </div> -->
                    </div> <!-- about-content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->
    
    <!--====== DEPARTMENT PART START ======-->


    <!--====== DEPARTMENT PART ENDS ======-->
    

    
    <!--====== DOCTOR PART START ======-->

  

    <!--====== DOCTOR PART ENDS ======-->
    
    <!--====== TESTIMONIAL PART START ======-->

    <section class="testimonial-two-area pt-125 pb-130 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-title">
                        <h5 class="sub-title">Testimonials</h5>
                        <h3 class="title">Service Recipient Says</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-two-active">
                        <div class="single-testimonial-two mt-60">
                            <div class="testimonial-content">
                                <i class="lni-quotation"></i>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis turpis vitae tortor convallis eleifend. In volutpat maximus mauris non fringilla. Cras pulvinar aliquam massa nec lacinia.</p>
                                <h5 class="testimonial-name">Mohammad Mostofa</h5>
                                <span>- Random Customer</span>
                            </div> <!-- testimonial content -->
                            <div class="testimonial-image">
                                <img src="assets/images/testimonial.png" alt="testimonial">
                            </div>
                        </div> <!-- single testimonial -->
                        <div class="single-testimonial-two mt-60">
                            <div class="testimonial-content">
                                <i class="lni-quotation"></i>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis turpis vitae tortor convallis eleifend. In volutpat maximus mauris non fringilla. Cras pulvinar aliquam massa nec lacinia.</p>
                                <h5 class="testimonial-name">Bobby Akter</h5>
                                <span>- Random Customer</span>
                            </div> <!-- testimonial content -->
                            <div class="testimonial-image">
                                <img src="assets/images/testimonial.png" alt="testimonial">
                            </div>
                        </div> <!-- single testimonial -->
                        <div class="single-testimonial-two mt-60">
                            <div class="testimonial-content">
                                <i class="lni-quotation"></i>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis turpis vitae tortor convallis eleifend. In volutpat maximus mauris non fringilla. Cras pulvinar aliquam massa nec lacinia.</p>
                                <h5 class="testimonial-name">Humayun Ahmed</h5>
                                <span>- Random Customer</span>
                            </div> <!-- testimonial content -->
                            <div class="testimonial-image">
                                <img src="assets/images/testimonial.png" alt="testimonial">
                            </div>
                        </div> <!-- single testimonial -->
                    </div> <!-- testimonial active -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TESTIMONIAL PART ENDS ======-->
    
    <!--====== BLOG PART START ======-->

   <!--  <section class="blog-tow-area pt-80 pb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="section-title mt-45 mb-30">
                        <h5 class="sub-title">blog Post</h5>
                        <h3 class="title">Recent Blog Posts</h3>
                    </div> section title
                </div>
                <div class="col-lg-8">
                    <div class="row blog-tow-active pt-20">
                        <div class="col-lg-6">
                            <div class="single-blog mt-30 mb-30">
                                <div class="blog-thumb">
                                    <a href="#"><img src="assets/images/blog/blog-1.jpg" alt="Blog"></a>
                                </div>
                                <div class="blog-content">
                                    <h6 class="sub-title">Dentist, Medical</h6>
                                    <h3 class="title"><a href="#">Various versions have evolve over the years</a></h3>
                                    <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
                                </div>
                            </div> single blog
                        </div>
                        <div class="col-lg-6">
                            <div class="single-blog mt-30 mb-30">
                                <div class="blog-thumb">
                                    <a href="#"><img src="assets/images/blog/blog-2.jpg" alt="Blog"></a>
                                </div>
                                <div class="blog-content">
                                    <h6 class="sub-title">Dentist, Medical</h6>
                                    <h3 class="title"><a href="#">Various versions have evolve over the years</a></h3>
                                    <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
                                </div>
                            </div> single blog
                        </div>
                        <div class="col-lg-6">
                            <div class="single-blog mt-30 mb-30">
                                <div class="blog-thumb">
                                    <a href="#"><img src="assets/images/blog/blog-3.jpg" alt="Blog"></a>
                                </div>
                                <div class="blog-content">
                                    <h6 class="sub-title">Dentist, Medical</h6>
                                    <h3 class="title"><a href="#">Various versions have evolve over the years</a></h3>
                                    <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
                                </div>
                            </div> single blog
                        </div>
                    </div> blog-tow-active
                </div>
            </div> row
        </div> container
    </section>
 -->
    <!--====== BLOG PART ENDS ======-->
    
    <!--====== CALL TO ACTION PART START ======-->

 

    <!--====== CALL TO ACTION PART ENDS ======-->

    <!--====== FOOTER PART START ======-->

    <footer class="footer-area">


        
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-content text-center">
                            <p class="text"> &copy; 2021 Copyright Ritco. <a href="https://graygrids.com" rel="nofollow">Designed by Scovia Kayesu</a></p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- copyright -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-right"></i><span>Back To Top</span></a>

    <!--====== BACK TO TOP PART ENDS ======-->

    <!--====== PART START ======-->

<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

    <!--====== PART ENDS ======-->


    <!-- row -->










    <!--====== jquery js ======-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="/assets/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== WOW js ======-->
    <script src="/assets/js/wow.min.js"></script>

    <!--====== Gijgo js ======-->
    <script src="/assets/js/gijgo.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    
    <!--====== Counter Up js ======-->
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>

    <!--====== Time Picker js ======-->
    <script src="/assets/js/jquery.timepicker.min.js"></script>

     <!--====== Validator js ======-->
    <script src="/assets/js/validator.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="/assets/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="/assets/js/main.js"></script>

</body>

</html>
