


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<!--====== Required meta tags ======-->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--====== Title ======-->
<title>Ritco - Contact</title>
<link rel="stylesheet" href="/assets/images/favicon.png"
	type="image/png" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/LineIcons.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/magnific-popup.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gijgo.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/nice-select.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/jquery.timepicker.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/slick.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
<!--  <link rel="stylesheet" type="text/css" href="/assets/css/style.css"  -->
<!-- for data tables -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/dataTables.bootstrap4.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/responsive.bootstrap4.min.css}">
<!-- <link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/datatable.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables/responsive.bootstrap4.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/datatables//bootstrap4.min.css}">

-->

</head>

<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/v4-shims.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome.min.css}" /> -->



<body>

	<!--====== PRELOADER PART START ======-->

	<div class="preloader">
		<div class="loader">
			<div class="ytp-spinner">
				<div class="ytp-spinner-container">
					<div class="ytp-spinner-rotator">
						<div class="ytp-spinner-left">
							<div class="ytp-spinner-circle"></div>
						</div>
						<div class="ytp-spinner-right">
							<div class="ytp-spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Dropdown button
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Link 1</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
  </div>
</div>

	<section class="page-banner bg_cover" data-overlay="5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="page-content text-center">
						<h2 class="page-title">Admin portal</h2>

					</div>
					<!-- page content -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>

	<!--====== PAGE BANNER PART ENDS ======-->

	<!--====== CONTACT PART START ======-->

	<section class="">
		<div class="" style="padding: 5px;">
			<div class="row">

				<div class="col-lg-3 mt-50" style="padding-top: 70px !important;">
					<div class="list-group">
						<button type="button"
							class="list-group-item list-group-item-action active">
							Portal Actions</button>
						<button type="button"
							class="list-group-item list-group-item-action">View all
							users</button>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button"
								id="dropdownMenuButton1" data-bs-toggle="dropdown"
								aria-expanded="false">Dropdown button</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li><a class="dropdown-item" href="#">Something else
										here</a></li>
							</ul>
						</div>
						<div class="dropdown">
							<a th:href="@{/departure}"><button type="button"
									id="dropdownMenuButton1"
									class="list-group-item list-group-item-action dropdown-toggle">
									register Departure</button></a> <a th:href="@{/departuretime}"><button
									type="button" class="list-group-item list-group-item-action">
									register Departure hours & Seats</button></a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li><a class="dropdown-item" href="#">Something else
										here</a></li>
							</ul>
						</div>
						<button type="button"
							class="list-group-item list-group-item-action" disabled>Vestibulum
							at eros</button>
					</div>
					<!-- contact-info -->
				</div>
				<div class="col-lg-8 mt-50" style="padding-right: 20px !important;">

					<!-- <center>
						<span th:text="${msg}" class="alert alert-success"></span>
					</center>
					<form th:method="post" th:object="${timeschedules}"
						th:action="@{/departuretime}">

						<div class="form-group">
							<span class="
								here"
								th:if="${#fields.hasErrors('deperthour')}"
								th:errors="*{deperthour}">Name Error</span> <input
								type="datetime-local" class="form-control" id="hours"
								th:field="*{deperthour}" pattern="hh:mm a">
						</div>
						<div class="form-group">
							<span class="here" th:if="${#fields.hasErrors('numberofseats')}"
								th:errors="*{numberofseats}">Name Error</span> <input
								type="number" placeholder="number of seat" maxlength="10"
								class="form-control" name="number" th:field="*{numberofseats}">

						</div>
						<div class="form-group">

							<select name="hourid" class="form-control">

								<option value="" disabled selected>Departure</option>
								<option th:each="type : ${alldeparture}"
									th:value="${type.idnum}" th:text="${type.destinationname}"></option>

							</select>
											<span class="here" th:if="${#fields.hasErrors('clientsnames')}"
												th:errors="*{clientsnames}">Name Error</span>
						</div>


						<button type="submit" class="btn btn-primary">Create</button>
					</form>
 -->
				</div>


			</div>
			<!-- row -->

		</div>
		<!-- container -->
	</section>

	<!--====== CONTACT PART ENDS ======-->

	<!--====== CALL TO ACTION PART START ======-->



	<!--====== CALL TO ACTION PART ENDS ======-->

	<!--====== FOOTER PART START ======-->

	<footer class="">



		<div class="">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright-content text-center">
							<p class="text">
								&copy; 2021 Copyright Ritco. <a href="https://graygrids.com"
									rel="nofollow">Designed by Scovia Kayesu</a>
							</p>
						</div>
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- copyright -->
	</footer>

	<!--====== FOOTER PART ENDS ======-->

	<!--====== BACK TO TOP PART START ======-->

	<a href="#" class="back-to-top"><i class="flaticon-next"></i><span>Back
			To Top</span></a>

	<!--====== BACK TO TOP PART ENDS ======-->

	<!--====== PART START ======-->

	<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

	<!--====== PART ENDS ======-->


	<!-- row -->








	<!--====== jquery js ======-->
	<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

	<!--====== Bootstrap js ======-->
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>

	<!--====== Slick js ======-->
	<script src="/assets/js/slick.min.js"></script>

	<!--====== Magnific Popup js ======-->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>

	<!--====== WOW js ======-->
	<script src="/assets/js/wow.min.js"></script>

	<!--====== Gijgo js ======-->
	<script src="/assets/js/gijgo.min.js"></script>

	<!--====== Nice Select js ======-->
	<script src="/assets/js/jquery.nice-select.min.js"></script>

	<!--====== Counter Up js ======-->
	<script src="/assets/js/waypoints.min.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>

	<!--====== Time Picker js ======-->
	<script src="/assets/js/jquery.timepicker.min.js"></script>

	<!--====== Validator js ======-->
	<script src="/assets/js/validator.min.js"></script>

	<!--====== Ajax Contact js ======-->
	<script src="/assets/js/ajax-contact.js"></script>

	<!--====== Main js ======-->
	<script src="/assets/js/main.js"></script>


</body>

</html>


